# Ignore dataset ZIP files
LocalizerDataset/*.zip
ClassifierDataset/*.zip

# Ignore all ZIP files (optional)
*.zip

# Ignore common large file types
*.tar
*.tar.gz
*.rar
*.7z

# Ignore Python cache files and virtual envs
__pycache__/
*.py[cod]
*.so
env/
venv/

# Ignore OS-specific files
.DS_Store
Thumbs.db